@use '../abstracts/variables' as v;

/* RESET GLOBAL
   ========================================================================== */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    // Active le système 1rem = 10px défini dans tes variables
    font-size: v.$base-font-size; 
    scroll-behavior: smooth;
}

body {
    // Utilise tes variables de couleurs et de texte
    font-family: sans-serif; 
    font-size: 1.6rem; // Équivalent 16px
font-weight: 400;

    background-color: v.$color-bg-main;
    color: v.$color-text-main;
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul, ol {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font: inherit;
}