// 1. ABSTRACTS (Configuration)
@use 'abstracts/index' as *;

// 2. BASE (Reset)
@use 'base/reset';

// 3. LAYOUT (Structure)
@use 'layout/layout';
@use 'layout/header';
@use 'layout/megamenu';
@use 'layout/hero';
@use 'layout/gradients-library';
@use 'layout/footer';

// 4. COMPONENTS (Éléments)
@use 'components/buttons';
@use 'components/cards';
@use 'components/forms';     // Inputs, Labels, Textareas
@use 'components/css-lab';
@use 'components/contact-info';

// 5. PAGES
@use 'pages/ux-journey';
@use 'pages/ux-persona';

